<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/static/assets/css/login.css">
  
  <!-- toastify link -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
  <div class="login-container">
    <h2>Forgot Password</h2>

    <form method="POST">
      {% csrf_token %}
      <label for="email">Enter your email</label>
      <input type="email" name="email" id="email" placeholder="Enter your email" required />

      <button type="submit">Send Reset Link</button> <br>
      <a href="{% url 'login' %}" style="text-decoration: none;">Back to Login</a>
    </form>
  </div>

  <!-- Toastify -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var errorMessage = "{{ error_msg|escapejs }}";
        var successMessage = "{{ success_msg|escapejs }}";

        if (errorMessage.trim() !== "" && errorMessage !== "None") {
            Toastify({
                text: errorMessage,
                duration: 3000,
                close: true,
                gravity: "top",
                position: "center",
                backgroundColor: "#ff4d4d",
            }).showToast();
        }

        if (successMessage.trim() !== "" && successMessage !== "None") {
            Toastify({
                text: successMessage,
                duration: 3000,
                close: true,
                gravity: "top",
                position: "center",
                backgroundColor: "#28a745",
            }).showToast();
        }
    });
  </script>
</body>
</html>
